pur==7.3.3
ansible-doctor==7.0.2
yamllint==1.35.1
ansible-lint==24.12.2
molecule @ git+https://github.com/ansible-community/molecule@v24.8.0
molecule-podman==2.0.3
pytest-testinfra==10.1.1
ansible==11.1.0
ansible-core==2.18.1
